body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(241, 241, 241);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 380px;
    height: 480px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 20px;
}
label {
    display: block;
    margin-top: 30px;
}
input {
    height: 30px;
    width: 86%;
    margin-top: 8px;
    border: 1px solid black ;
    border-radius: 2px;
}
button {
    margin-top: 40px;
    margin-left: 4px;
    height: 36px;
    width: 86%;
    padding: 2px;
    border-radius: 8px;
    border: none;
    background-color: rgb(0, 140, 255);
    color: aliceblue;
    transition-duration: 1s;


}
h2 {
    margin: 6px 0 34px 80px;
}
#result {
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

button:hover {
    background-color: rgb(0, 207, 0);
}